Repository uber/AutoDispose, pull requests merged in 2018-12, with the labels that each got.

#292 Update to new Error Prone plugin
  android/autodispose-android-archcomponents-test/build.gradle
  android/autodispose-android-archcomponents/build.gradle
  android/autodispose-android/build.gradle
  autodispose-rxlifecycle/build.gradle
  autodispose/build.gradle
  gradle/dependencies.gradle
  lifecycle/autodispose-lifecycle-jdk8/build.gradle
  lifecycle/autodispose-lifecycle/build.gradle
  lifecycle/autodispose-lifecycle/src/test/java/com/uber/autodispose/lifecycle/LifecycleScopesTest.java
  static-analysis/autodispose-error-prone-checker/build.gradle
  test-utils/build.gradle
Labels: Build

#301 Enable lint checks on test sources
  static-analysis/autodispose-lint/src/main/kotlin/com/uber/autodispose/lint/AutoDisposeDetector.kt
Labels: Static analysis

#303 Rename autodispose-error-prone-checker to just autodispose-error-prone
  settings.gradle
  static-analysis/autodispose-error-prone/build.gradle
  static-analysis/autodispose-error-prone/gradle.properties
  static-analysis/autodispose-error-prone/src/main/java/com/uber/autodispose/errorprone/AbstractReturnValueIgnored.java
  static-analysis/autodispose-error-prone/src/main/java/com/uber/autodispose/errorprone/UseAutoDispose.java
  static-analysis/autodispose-error-prone/src/test/java/com/uber/autodispose/errorprone/ComponentWithLifecycle.java
  static-analysis/autodispose-error-prone/src/test/java/com/uber/autodispose/errorprone/UseAutoDisposeTest.java
  static-analysis/autodispose-error-prone/src/test/resources/com/uber/autodispose/errorprone/UseAutoDisposeCustomClassPositiveCases.java
  static-analysis/autodispose-error-prone/src/test/resources/com/uber/autodispose/errorprone/UseAutoDisposeDefaultClassPositiveCases.java
  static-analysis/autodispose-error-prone/src/test/resources/com/uber/autodispose/errorprone/UseAutoDisposeDefaultClassPositiveCasesLenient.java
  static-analysis/autodispose-error-prone/src/test/resources/com/uber/autodispose/errorprone/UseAutoDisposeNegativeCases.java
  static-analysis/autodispose-error-prone/src/test/resources/com/uber/autodispose/errorprone/UseAutoDisposeNegativeCasesLenient.java
Labels: Static analysis

#299 Wire in lint and (prepare) error prone to sample
  sample/build.gradle
  sample/gradle.properties
  sample/src/main/java/com/uber/autodispose/recipes/AutoDisposeView.java
  sample/src/main/java/com/uber/autodispose/sample/ClassWithCustomScope.java
  sample/src/main/java/com/uber/autodispose/sample/CustomScope.java
  static-analysis/autodispose-lint/src/main/kotlin/com/uber/autodispose/lint/AutoDisposeDetector.kt
Labels: Static analysis

#275 Deprecate Default/Kotlin LifecycleScopeProvider interfaces
  lifecycle/autodispose-lifecycle-jdk8/src/main/java/com/uber/autodispose/lifecycle/jdk8/DefaultLifecycleScopeProvider.java
  lifecycle/autodispose-lifecycle-jdk8/src/test/java/com/uber/autodispose/lifecycle/jdk8/DefaultLifecycleScopeProviderTest.java
  lifecycle/autodispose-lifecycle-ktx/src/main/kotlin/com/uber/autodispose/lifecycle/KotlinLifecycleScopeProvider.kt
  lifecycle/autodispose-lifecycle-ktx/src/test/kotlin/com/uber/autodispose/lifecycle/KotlinLifecycleScopeProviderTest.kt
  lifecycle/autodispose-lifecycle/src/main/java/com/uber/autodispose/lifecycle/LifecycleScopeProvider.java
  sample/src/main/java/com/uber/autodispose/recipes/AutoDisposeActivity.java
  sample/src/main/java/com/uber/autodispose/recipes/AutoDisposeFragment.java
  sample/src/main/java/com/uber/autodispose/recipes/AutoDisposeView.java
  sample/src/main/java/com/uber/autodispose/recipes/AutoDisposeViewHolder.java
  sample/src/main/kotlin/com/uber/autodispose/recipes/AutoDisposeActivityKotlin.kt
  sample/src/main/kotlin/com/uber/autodispose/recipes/AutoDisposeFragmentKotlin.kt
  sample/src/main/kotlin/com/uber/autodispose/recipes/AutoDisposeViewHolderKotlin.kt
  sample/src/main/kotlin/com/uber/autodispose/recipes/AutoDisposeViewKotlin.kt
  sample/src/main/kotlin/com/uber/autodispose/recipes/AutoDisposeViewModel.kt
  static-analysis/autodispose-error-prone/src/test/resources/com/uber/autodispose/errorprone/UseAutoDisposeDefaultClassPositiveCases.java
  static-analysis/autodispose-error-prone/src/test/resources/com/uber/autodispose/errorprone/UseAutoDisposeDefaultClassPositiveCasesLenient.java
  static-analysis/autodispose-error-prone/src/test/resources/com/uber/autodispose/errorprone/UseAutoDisposeNegativeCases.java
  static-analysis/autodispose-error-prone/src/test/resources/com/uber/autodispose/errorprone/UseAutoDisposeNegativeCasesExcluded.java
  static-analysis/autodispose-error-prone/src/test/resources/com/uber/autodispose/errorprone/UseAutoDisposeNegativeCasesLenient.java
Labels: Discussion, Enhancement, Kotlin

#322 Fix missing repo and kapt config
  settings.gradle
Labels: Build
